.app {



  font-weight: normal;
}

/* nav {
    align-content: center;
  } */

/* .logo {
    display: block;
    margin: 0 auto 2rem;
  } */



/* navbar */
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.4s;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

/*   
  @media (hover: hover) {
    a:hover {
      background: #C7BCE4; 
  background: -webkit-linear-gradient(39deg,#acbdf5, #E9A4C3, #F9CAD4 94%);
  background: -moz-linear-gradient(39deg,#acbdf5, #E9A4C3, #F9CAD4 94%);
  background: -o-linear-gradient(39deg,#acbdf5, #E9A4C3, #F9CAD4 94%);
  background: linear-gradient(39deg,#acbdf5, #E9A4C3, #F9CAD4 94%);
  
  
    }
  } */





/* 
  nav a.router-link-exact-active:hover {
    background-color: transparent;
  }
  
  nav a {
    display: inline-block;
    padding: 0 1rem;
    border-left: 1px solid var(--color-border);
  }
  
  nav a:first-of-type {
    border: 0;
  } */

@media (min-width: 1024px) {
  body {

    place-items: center;
  }

  #app {

    grid-template-columns: 1fr 1fr;

  }



  .logo {
    margin: 0 2rem 0 0;
  }

}