body {
    font-family: "Century Gothic", 'Lato', sans-serif;

}

button {
    border: #636463;

}

a {
    text-decoration: none;
    margin: 7px;
    /* display: block ruby; */

}

@media (hover: hover) {
    a:hover {
      background: #C7BCE4; 
  background: -webkit-linear-gradient(39deg,#acbdf5, #E9A4C3, #F9CAD4 94%);
  background: -moz-linear-gradient(39deg,#acbdf5, #E9A4C3, #F9CAD4 94%);
  background: -o-linear-gradient(39deg,#acbdf5, #E9A4C3, #F9CAD4 94%);
  background: linear-gradient(39deg,#acbdf5, #E9A4C3, #F9CAD4 94%);
    }
  } 

a:hover {
    color: #636463;
   
   
    }

.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: rgb(0, 0, 0);
    text-align: center;
    padding: 0 2em;
    display: grid;


h1 {
        font-size: 2rem;
        margin: 0;
        letter-spacing: 1rem;
    }

    h3 {
        font-size: 1rem;
        letter-spacing: 0.3rem;
        opacity: 0.6;
    }
}

#border {
    margin: 0px !important;
    padding: 10px !important;
    border-radius: 10px !important;
    background: #C7BCE4;
    background: -webkit-linear-gradient(39deg,#acbdf5, #E9A4C3, #F9CAD4 94%);
    background: -moz-linear-gradient(39deg, #acbdf5, #E9A4C3, #F9CAD4 94%);
    background: -o-linear-gradient(39deg, #acbdf5, #E9A4C3, #F9CAD4 94%);
    background: linear-gradient(39deg, #acbdf5, #E9A4C3, #F9CAD4 94%);
    text-decoration-color: #000;
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #636463;
    z-index: 10;
  
    &--top {
        position: fixed;
        top: 0;
    }
}

.et-hero-tab {
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;


    &:hover {
        color: white;
        background: rgba(102, 177, 241, 0.8);
        transition: all 0.5s ease;
    }
}

.et-hero-tab-slider {
   
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #636463;
    transition: left 0.3s ease;
}

@media (min-width: 800px) {

    .et-hero-tabs,
    .et-slide {
        h1 {
            font-size: 3rem;
        }

        h3 {
            font-size: 1rem;
        }
    }

    .et-hero-tab {
        font-size: 1rem;
    }
}


img {
    border-radius: 10px !important;
    margin-block: auto !important;
    width : 550px !important;


}

@media (max-width: 480px) {
    .et-hero-tabs-container {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        background: #636463;
        z-index: 10;

        &--top {
            position: fixed;
            top: 0;
        }
    }

img {
    width: 100% !important;
}

}

nav {
    border-radius: 10px;

}


.inline-icon {
    vertical-align: middle;
    font-size: 25px !important;

}